<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        我的主页
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        关于我
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        邮箱
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        证书
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, 由
            <a href="https://www.creative-tim.com" target="_blank">贾宏宇</a> 制作.
        </div>
    </div>
</footer>
