<div class="container">
    <h1>Timeline with HTML and CSS</h1>
    <div class="timeline">
        <ul>
            <li>
                <div class="content">
                    <h3>Lorem Ipsum is simply</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="point"></div>
                <div class="date">
                    <h4>January 2019</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>Lorem Ipsum is simply</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="point"></div>
                <div class="date">
                    <h4>January 2019</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>Lorem Ipsum is simply</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="point"></div>
                <div class="date">
                    <h4>January 2019</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>Lorem Ipsum is simply</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="point"></div>
                <div class="date">
                    <h4>January 2019</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>Lorem Ipsum is simply</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="point"></div>
                <div class="date">
                    <h4>January 2019</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3>Lorem Ipsum is simply</h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="point"></div>
                <div class="date">
                    <h4>January 2019</h4>
                </div>
            </li>
        </ul>
    </div>
</div>