<div class="container">
    <h1>文章发布时间轴</h1>
    <div class="timeline">
        <ul>
            <li *ngFor="let article of articlePageInfo.list">
                <div class="content">
                    <h3>{{article.title}}</h3>
                    <p [innerHTML]="article.content | slice:0:300"></p>
                </div>
                <div class="point"></div>
                <div class="date">
                    <h4>{{article.releaseTime}}</h4>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="!articlePageInfo.isLastPage" class="container">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 text-center my-5">
                <button class="more-button" (click)="getMore()">点击查看更多...</button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</div>